/* STANDART STYLES START */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    overscroll-behavior: none;
}
html {
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0;
}
main {
    display: block
}
h1 {
    font-size: 2em;
    margin: .67em 0
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}
pre {
    font-family: monospace,monospace;
    font-size: 1em
}
a {
    cursor: pointer;
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}
ul {
    list-style: none;
}
p {
    text-align: left;
}
b,
strong {
    font-weight: bolder
}
code,
kbd,
samp {
    font-family: monospace,monospace;
    font-size: 1em
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sub {
    bottom: -.25em
}
sup {
    top: -.5em
}
img {
    object-fit: cover;
    border-style: none;
    width: 100%;
    height: 100%;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    outline: 0;
    margin: 0
}
button,
input {
    overflow: visible
}
button,
select {
    text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
    cursor: pointer;
    border: none;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}
fieldset {
    padding: .35em .75em .625em
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}
progress {
    vertical-align: baseline
}
textarea {
    overflow: auto
}
[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}
details {
    display: block
}
summary {
    display: list-item
}
template {
    display: none
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}
a {
    text-decoration: none;
    color: inherit
}
[hidden] {
    display: none
}
/* STANDART STYLES END */



/* CUSTOM STYLES START */
.wrapper-outer {
    background: #ffffff;
    width: 100%;
}

.wrapper-inner {
    max-width: 1539px;
    padding: 0 20px 0;
    margin: 0 auto;
}

.hero-section {
    display: grid;
    grid-template-columns: 56.37% 43.63%;
}

.main-section {
    padding: 40px 0 52px;
    gap: 15px;
    display: grid;
    grid-template-columns: 56.37% auto;
    align-items: start;
    justify-content: space-between;
}

.hero-woman-img {
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hero-content-wrap {
    padding: 39px 56px 43px 70px;
    background: #27495D;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hero-content {
    background: #27495D;
    height: 100%;
    display: grid;
    align-content: space-between;
}

.title-points {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: space-between;
}

.icon-block {
    display: flex;
    gap: 8px;
}

.hero-desc-text {
    color: #A9B6BE;
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

.hero-desc-text.white {
    color: #FFF;
}

.hero-text-block {
    display: grid;
    gap: 13px;
}

.title-hero {
    color: #EC8AAE;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.big-text-hero {
    max-width: 488px;
    width: 100%;
    color: #FFF;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 45.6px */
}

.authors-thumbnail-wrap {
    position: relative;
    left: 8px;
    width: 56px;
}

.authors-hero-block {
    display: grid;
    gap: 8px;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: start;
}

.top-line-hero {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: start;
}

.span-two {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: start;
}

.authors-thumbnail {
    width: 34px;
    height: 34px;
    border-radius: 34px;
    border: 2px solid #27495D;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.authors-thumbnail.first {
    z-index: 1;
}

.authors-thumbnail.second {
    left: 12px;
    z-index: 2;
}

.right-part-authors {
    display: grid;
    gap: 2px;
    color: #FFF;
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

.right-part-authors .grey {
    color: #A9B6BE;
}

.right-part-authors .underline {
    cursor: pointer;
    text-decoration: underline;
}

.right-part-authors .mobile {
    display: none;
}

.main-section .left-part {
    display: grid;
    gap: 52px;
}

.main-section .right-part {
    display: grid;
    gap: 24px;
    position: sticky;
    top: 40px;
}

.top-main-block {
    display: grid;
    gap: 42px;
}

.bottom-main-block {
    display: grid;
    gap: 52px;
}

.title-main {
    color: #25425D;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 33.6px */
}

.tip-wrap .desc-main {
    font-weight: 500;
}

.desc-main {
    color: #27495D;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.desc-main .bold {
    font-weight: 600;
}

.desc-main .italic {
    font-style: italic;
}

.subtitle-main {
    color: #27495D;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
}

.underline {
    text-decoration-line: underline;
}

.subtext-main {
    color: #27495D;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 24px */
}

.info-block {
    display: grid;
    gap: 24px;
}

.info-block.gap-20 {
    gap: 20px;
}

.product-image-wrap {
    display: grid;
    gap: 20px;
}

.history-block {
    display: grid;
    gap: 16px;
}

.thesis-block {
    display: grid;
    gap: 14px;
}

.history-end {
    display: grid;
    gap: 12px;
}

.thesis-line {
    display: grid;
    gap: 8px;
}

.selected {
    background-color: #f6edec;
}

.numeric-list {
    padding-left: 25px;
    display: grid;
    gap: 20px;
    list-style: numeric;
}

.numeric-list.gap-0 {
    gap: 0;
}

.bullet-list {
    padding-left: 25px;
    display: grid;
    gap: 20px;
    list-style: disc;
}

.timeline-list {
    list-style: none;
    display: grid;
    gap: 40px;
    padding-left: 12px;
}
.timeline-list li {
    padding-left: 16px;
    position: relative;
}
.timeline-list li:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #EC8AAE;
    position: absolute;
    z-index: 2;
    left: -12px;
    top: 50%;
    transform: translateY(-40%);
}

.timeline-list li:not(:last-child):after {
    z-index: 1;
    content: '';
    width: 2px;
    height: 70px;
    background: #f6f1f1;
    position: absolute;
    left: -8px;
    top: 50%;
}

.timeline-list.history {
    gap: 32px;
}

.timeline-list.history li:before {
    width: 16px;
    height: 16px;
}

.timeline-list.history li:first-of-type:before {
    background: #f9dce6;
}

.timeline-list.history li:last-of-type:before {
    background: #EB8AAE;
}

.timeline-list.history li:before {
    background: #f9dce6;
}

.timeline-list.history li:not(:last-child):after {
    width: 1px;
    height: 24px;
    background: #EB8AAE;
    left: -4px;
    top: 32px;
}

.image-product {
    width: 100%;
    border-radius: 20px;
}

.card-author {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 24px;
}

.author-right-part {
    display: grid;
    gap: 12px;
}

.avatar-circle {
    width: 120px;
    height: 120px;
    border-radius: 120px;
}

.tip-image {
    color: #7C8E9E;
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

.link-main {
    cursor: pointer;
    text-decoration-line: underline;
    color: #27495D;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.desc-author {
    color: #7C8E9E;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}

.history-text {
    color: #25425D;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.history-tag {
    color: rgba(39, 73, 93, 0.60);
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.history-tag.underline {
    color: #27495D;
    text-decoration-line: underline;
}

.quote-wrap {
    gap: 25px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 32px;
    border-radius: 20px;
    background: #FBF8F7;
}

.pink-line {
    width: 2px;
    height: 100%;
    background: #EC8AAE;
    border: none;
}

.right-part-quote {
    display: grid;
    align-content: center;
    gap: 32px;
}

.quote-speech {
    color: #25425D;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    line-height: 120%; /* 24px */
}

.author-name {
    color: #7C8E9E;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
}

.product-wrap {
    display: grid;
    grid-template-columns: 58.36% 41.64%;
    border-radius: 20px;
    background: #FBF8F7;
}

.left-part-product {
    padding: 42px 52px;
}

.product-right-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.star-block {
    display: flex;
    align-items: center;
    gap: 8px;
}

.star-wrap {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: start;
    align-items: center;
}

.star-img {
    cursor: pointer;
    max-width: 12px;
    transition: all ease-in-out 0.3s;
}

.star-img.hovered {
    filter: contrast(40%) invert(9%) sepia(90%);
}

.rating-star {
    color: rgba(37, 66, 93, 0.50);
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 11.484px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px; /* 121.905% */
}

.desc-product {
    color: rgba(37, 66, 93, 0.50);
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price-product {
    color: rgba(37, 66, 93, 0.50);
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.shop-button {
    cursor: pointer;
    color: #25425D;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 23.4px; /* 146.25% */
    border-bottom: 1px solid rgba(37, 66, 93, 0.50);
}

.star-block {
    padding: 6px 0 16px;
}

.price-product {
    padding: 13px 0 15px;
}

.tip-wrap {
    display: grid;
    padding: 32px;
    gap: 14px;
    border-radius: 20px;
    background: #FBF8F7;
}

.table-contents {
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    border: 0.5px solid #27495D;
    padding: 32px;
    width: 100%;
    min-width: 362px;
}

.table-contents.mobile {
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 68px;
    right: 0;
    margin: 16px;
    overflow: hidden;
    border-radius: 20px;
    padding: 24px 5px 24px 24px;
    width: calc(100% - 32px);
    min-width: 362px;
    border: none;
    background: #FBF8F7;
    box-shadow: 0 6px 24px 0 rgba(42, 50, 52, 0.26);
    transform: translateY(150%);
    transition: transform 0.3s ease-in-out;
}

.table-contents.mobile.active {
    transform: translateY(0);
}

.main-title-content {
    padding-bottom: 20px;
    color: #27495D;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

.main-title-content.pb-0 {
    padding-bottom: 0;
}

.share-line {
    display: flex;
    padding: 22px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 20px;
    border: 0.5px solid #27495D;
}

.social-networks {
    display: flex;
    align-items: center;
    gap: 16px;
}

.social-network-ico {
    cursor: pointer;
}

.pack-product {
    display: grid;
    padding: 0 24px 32px 24px;
    gap: 19px;
    border-radius: 20px;
    background: #FBF8F7;
}

.wrap-pack-product-image {
    margin: 0 auto;
}

.pack-product-image {
    width: 181px;
    height: 230px;
}

.pack-product-name {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 262px;
    color: #25425D;
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.pack-product-desc {
    padding: 12px 0 24px;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 251px;
    color: #7C8E9E;
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-autoship {
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background: #54B7AB;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: #FFF;
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tags-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tags-wrapper .tag {
    cursor: pointer;
    color: #7C8E9E;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
    padding: 4px 12px;
    border-radius: 18px;
    border: 1px solid #7C8E9E;
    transition: .3s all ease-in-out;
}

.tags-wrapper .tag:hover {
    transition: .3s all ease-in-out;
    background: #FBF8F7;
}

.proposition-block.mobile {
    display: none;
    gap: 24px;
}

.table-contents-list {
    display: grid;
    gap: 16px;
    list-style-type: numeric;
    margin-left: 15px;
}

.table-contents-list-mobile {
    display: grid;
    gap: 16px;
    list-style-type: numeric;
    margin-left: 15px;
}

.table-content-point {
    color: #68808E;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
}

.table-content-point.pass {
    color: #27495D;
}

.table-content-point:hover {
    cursor: pointer;
    color: #27495D;
}

.table-content-point-mobile {
    color: #68808E;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
}

.table-content-point-mobile.pass {
    color: #27495D;
}

.table-content-point-mobile:hover {
    cursor: pointer;
    color: #27495D;
}

.scroll-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #e0e0e0;
    z-index: 1;
}

.indicator {
    width: 100%;
    height: 0;
    background-color: #27495D;
    transition: height 0.3s;
}

.navbar-table-button {
    display: none;
    cursor: pointer;
    position: fixed;
    z-index: 10;
    bottom: 16px;
    right: 16px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #EC8AAE;
    box-shadow: 4px 6px 26px 0 rgba(42, 50, 52, 0.24);
}

.articles-title {
    padding-bottom: 28px;
    color: #27495D;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 33.6px */
}

.articles-wrap {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, auto);
}

.article-card {
    display: grid;
    grid-template-rows: 300px auto;
    gap: 16px;
    border-radius: 20px;
    background: #FBF8F7;
}

.article-info-part {
    min-height: 270px;
    height: 100%;
    display: grid;
    gap: 20px;
    align-content: space-between;
    padding: 0 24px 24px 24px;
}

.article-img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

.article-type {
    color: #EC8AAE;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.article-title {
    padding: 8px 0;
    color: #27495D;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
}

.article-desc {
    color: #27495D;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}

.article-author-block {
    padding-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: start;
    gap: 7px;
}

.article-time-wrap {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: start;
    gap: 6px;
}

.article-author {
    cursor: pointer;
    color: #27495D;
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    text-decoration-line: underline;
}

.time-dot {
    color: #7C8E9E;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 183.333% */
}

.time-article {
    color: #7C8E9E;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 183.333% */
}




.tabs-wrapper {
    display: flex;
    width: 100%;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    border-radius: 20px;
    background: #FBF8F7;
}

.tabs {
    display: flex;
    justify-content: space-around;
    gap: 32px;
}

.tab-button {
    background: #FBF8F7;
}

.tab-button span {
    color: #7C8E9E;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.tab-button:hover span {
    text-underline-offset: 3px;
    color: #25425D;
    text-decoration: underline;

}

.tab-button.active span {
    text-underline-offset: 3px;
    color: #25425D;
    text-decoration: underline;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.glossary, .sources {
    list-style: numeric;
    padding-left: 20px;
}
.glossary li, .sources li {
    margin-bottom: 3px;
    color: #27495D;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.sources li {
    font-style: italic;
    margin-bottom: 10px;
}
.glossary li span {
    font-weight: 700;
}

.glossary > li::marker {
    font-weight: bold;
}

.tab-p {
    color: #27495D;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.sources-header {
    margin-bottom: 20px;
    color: #27495D;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.sources-header .span-underline {
    text-decoration-line: underline;
}

@media (max-width: 565px) {

    .tabs {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px 32px;
    }

}

.swiper-slide {
    height: auto!important;
}

@media (max-width: 1280px) {

    .big-text-hero {
        font-size: 34px;
    }

}

@media (max-width: 1225px) {

    .hero-content-wrap {
        padding: 32px 16px;
    }

    .hero-desc-text {
        font-size: 12px;
    }

    .title-hero {
        font-size: 16px;
    }

    .big-text-hero {
        font-size: 30px;
    }

}

@media (max-width: 1015px) {

    .wrapper-inner {
        max-width: 1499px;
        padding: 0;
    }

    .hero-section {
        grid-template-columns: auto;
    }

    .main-section {
        padding: 24px 0;
        gap: unset;
        grid-template-columns: auto;
        justify-content: unset;
    }

    .articles-section {
        padding: 0 16px 52px;
    }

    .main-section .right-part {
        display: none;
    }

    .navbar-table-button {
        display: flex;
    }

    .table-contents.mobile {
        display: block;
    }

    .product-wrap {
        grid-template-columns: auto;
        border-radius: 20px;
    }

    .product-right-image {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 0;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .left-part-product {
        padding: 16px 24px 24px 24px;
        margin: 0 auto;
        max-width: 343px;
    }

    .main-section {
        padding: 40px 16px 52px;
    }

    .articles-section {
        padding: 0 16px 52px;
    }

    .icon-block {
        gap: 6px;
    }

    .hero-content {
        margin: 0 auto;
        max-width: 343px;
        width: 100%;
        gap: 32px;
    }

    .title-points {
        justify-content: start;
        gap: 23px;
    }

    .hero-woman-img {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .hero-content-wrap {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .right-part-authors .mobile {
        display: block;
    }

    .right-part-authors .span-two {
        display: none;
    }

    .top-line-hero {
        grid-template-columns: auto;
    }

    .right-part-authors {
        gap: 6px;
    }

    .bottom-line-hero {
        display: grid;
        gap: 6px;
    }

    .authors-thumbnail {
        position: absolute;
        left: 0;
        top: -40px;
        transform: unset;
        width: 24px;
        height: 24px;
        border-radius: 24px;
        border: 2px solid #27495D;
    }

    .authors-thumbnail-wrap {
        left: 0;
        width: 24px;
    }

    .authors-thumbnail.second {
        top: -24px;
        left: 0;
    }

    .title-main {
        font-size: 24px;
    }

    .desc-main {
        font-size: 16px;
    }

    .subtitle-main {
        font-size: 20px;
    }

    .subtext-main {
        font-size: 18px;
    }

    .quote-speech {
        font-size: 18px;
    }

    .author-name {
        font-size: 14px;
    }

    .right-part-quote {
        gap: 24px;
    }

    .quote-wrap {
        padding: 24px;
    }

    .product-wrap .subtitle-main {
        font-size: 24px;
    }

    .desc-product {
        font-size: 14px;
    }

    .price-product {
        font-size: 14px;
    }

    .image-product {
        height: 340px;
    }

    .tip-image {
        font-size: 12px;
    }

    .link-main {
        font-size: 16px;
    }

    .avatar-circle {
        width: 78px;
        height: 78px;
        border-radius: 78px;
    }

    .top-main-block {
        gap: 32px;
    }

    .bottom-main-block {
        gap: 32px;
    }

    .info-block {
        display: grid;
        gap: 20px;
    }

    .proposition-block.mobile {
        display: grid;
    }

}

/* CUSTOM STYLES END */